#app{
    height: 100dvh;
    background-color: #f9f9fb;
    padding : 40px;
}

#app .user-list{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* จำกัดให้มี 3 คอลัมน์ */
    grid-gap: 30px;
}
@media (max-width: 480px) { /* ขนาดหน้าจอสำหรับ iPhone หรือ smart phone */
    #app .user-list {
        grid-template-columns: 1fr; /* จำกัดให้มี 1 คอลัมน์ */
    }
}

#app .user-list .card{
    margin: 0;
}

#app .user-list .card:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#app p {
    color : #8a9195;
    margin: 0;
}

#app .Image{
    border-radius: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#app .Image img{
    border: solid 1px #fc5333;
    padding: 10px;
    border-radius: 50%;
    overflow: hidden;
}

#app .BTN{
    background: #ececec;
    border: none;
    border-radius: 10px;
    height: 40px;
    color : #3a3a3a;
    font-weight: bold;
}

#app .BTN:hover{
    background: #fc5333;
    color : #fff;
}

